//-
//- Header Content
//-
//- @return {Header}
//- @api public
//-

mixin innerheader
  a(href=site).brand.brand-flokk FLOKK

//-
//- Footer Content
//-
//- @return {Footer}
//- @api public
//-

mixin innerfooter
  ul.nav.pull-right
    li
      a(href=site+"/copyright") © 2013 The Flokk, LLC. All rights reserved

//-
//- Main content
//-
//- @param {String} site
//- @param {String} description
//- @param {Boolean} fluid
//- @param {Object} env
//- @param {Array} styles
//- @block {Block} styles
//- @block {Block} header
//- @return {Content}
//- @api public
//-

!!! 5
html(data-ng-app=ngapp)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title(ng-bind="'FLOKK | ' + $root.title") FLOKK | #{title}
    meta(name='description', content=description)
    meta(name='author', content='The Flokk, LLC')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    //- TODO figure out the favicon

    block styles
      each style in styles
        link(href=style, rel="stylesheet")

    script.
      // Stupid hack for facebook login
      if (window.location.hash === '#_=_') window.location.hash = '';
      // Track page load time
      var startTime = Date.now();
      // Initialize the environment
      window.env = !{JSON.stringify(env)};
  body(data-ng-controller="IndexController")
    header
      block header
        .navbar.navbar-fixed-top
          if fluid
            .container-fluid
              +innerheader
              block nav
          else
            .container
              +innerheader
              block nav

    #wrap
      block content
      #push

    footer
      block footer
        if fluid
          .container-fluid.navbar
            +innerfooter
        else
          .container.navbar
            +innerfooter


    block scripts
      each script in scripts
        script(src=script)

    script.
      // End page load timing
      if (window.metric) metric({'measure': 'page_load_time', val: (Date.now() - startTime), units: 'ms'});
